<!-- Developed by Novaur. -->
<!DOCTYPE html>
<html>
<head>
<title>Ludere</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="../resources/style.css">
<link rel="stylesheet" media="all" href="../resources/theme.css" id="theme_css" />
</head>
<body>
    <img class="center2" src="../resources/ludere.png" height="100" width="100">
    <h1 class="center" id="welcome">Credits</h1>
    <br>
    <br>
    <p class="center">
        Novaur (me), the developer of Ludere.
        <br>
        All contributors and those who gave good advice and feedback!
        <br>
    </p>
    <h2 class="center">
        And YOU, for using Ludere!!
    </h2>
    <br>
    <br>
    <style>
        a#thx {
            display: block;
            text-align: center;
            width: 150px;
            margin: 0px auto;
            padding: 20px;
            color: white;
            font-family: GlacialIndifference;
            text-transform: uppercase;
            border: 2px solid hsl(105, 100%, 50%);
            background-color: hwb(108 12% 0% / 0.357);
            text-decoration: none;
            border-radius: 10px;
        }
    </style>
    <a href="./index.html" id="thx">THANK YOU!</a>
    <br>
    <br>
</body>
<footer>
    <h3 class="center">(C) 2024 <a style="color: white; text-decoration: none;" href="">Ludere</a></h3>
</footer>
</html>