<!-- Developed by Novaur. -->
<!DOCTYPE html>
<html>
<head>
<title>Ludere</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="../resources/style.css">
<link rel="stylesheet" media="all" href="../resources/theme.css" id="theme_css" />
</head>
<body>
    <img class="center2" src="../resources/ludere.png" height="100" width="100">
    <h1 class="center" id="welcome">What is Ludere?</h1>
    <br>
    <br>
    <p class="center">
        Ludere is a video streaming and messaging platform that is currently in alpha development.
        <br>
        Ludere is similar to YouTube and Discord, but integrated into one app, and is completely <a href="https://github.com/miss-nova/ludere">open-source</a>.
    </p>
    <br>
    <br>
    <style>
        a#ok {
            display: block;
            text-align: center;
            width: 150px;
            margin: 0px auto;
            padding: 20px;
            color: white;
            font-family: GlacialIndifference;
            text-transform: uppercase;
            border: 2px solid hsl(105, 100%, 50%);
            background-color: hwb(108 12% 0% / 0.357);
            text-decoration: none;
            border-radius: 10px;
        }
    </style>
    <a href="./index.html" id="ok">OK</a>
    <br>
    <br>
</body>
<footer>
    <h3 class="center">(C) 2024 <a style="color: white; text-decoration: none;" href="">Ludere</a></h3>
</footer>
</html>